/* Styling the header container */
.index-header-container {
  display: flex;
  flex-direction: column; /* Adjust flex direction to stack elements vertically */
  align-items: flex-start; /* Align items to the top of the container */
  justify-content: space-between; /* Aligning items vertically with space between */
  background-color: white;
  padding: 10px 20px;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  height: 550px; /* Adjust height as needed */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
}

.header-container {
  position: relative; /* Make sure the container is positioned */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  background-size: cover;
  background-position: center;
  height: 250px;
}

/* Styling the top bar */
.top-bar {
  display: flex;
  justify-content: space-between; /* Align items horizontally with space between */
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure full width */
}

.logo_img {
  width: auto;
  max-width: 100%; /* Ensure image doesn't exceed its container */
  height: auto;
  max-height: 60px;
  margin-top: 10px;
  margin-left: 10px; /* Set maximum height */
  cursor: pointer;
}

/* Styling the navigation links */
nav {
  margin-right: 25px;
  margin-top: 10px;
}
nav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  z-index: 1;
  font-weight: 400;
}

/* Styling dropdown container */
nav .dropdown {
  display: inline-block;
  position: relative; /* Ensure dropdown content is positioned relative to the dropdown */
}

/* Styling dropdown content */
nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #6ca1af;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: auto; /* Let the width be determined by content */
  left: 0; /* Position the dropdown content at the left edge of the dropdown */
}

/* Styling dropdown links */
nav .dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  width: 100%; /* Match the width of the parent */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Displaying dropdown content on hover */
nav .dropdown:hover .dropdown-content {
  display: block;
}

/* Adding hover effect */
nav a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
  z-index: 0;
  text-decoration: none;
}

.active {
  position: relative; /* Set position to relative */
}

.active::after {
  content: ""; /* Create a pseudo-element */
  display: block;
  height: 3px;
  width: 50%; /* Set the width to cover the entire width of the link */
  background-color: #fff; /* Set the color of the line */
  position: absolute;
}

/* Increasing width on hover */
nav .dropdown:hover a::after {
  width: 100%;
}

/* Styling for the hamburger menu */
.menu-icon {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  color: white;
}

@media (max-width: 980px) {
  nav {
    display: none; /* Hide the navigation links by default on smaller screens */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Set black background color */
    width: 60%; /* Adjust width as needed */
    max-width: 300px; /* Set a maximum width if necessary */
    padding: 10px;
    animation: slideIn 0.3s forwards;
    z-index: 1000; /* Ensure the menu appears on top of other content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    margin-top: 0;
    margin-right: 0;
  }

  .logo_img {
    width: 150px;
    max-width: none;
    height: auto;
    max-height: none;
  }

  .menu-icon {
    display: block; /* Display the menu icon */
    font-size: 28px;
  }

  nav.show {
    display: block !important; /* Override the display property set by media query */
  }

  nav .dropdown {
    display: block;
    margin-top: 10px; /* Adjust spacing between dropdown items */
  }

  nav .dropdown-content {
    position: relative; /* Position dropdown relative to the nav */
    background-color: black; /* Set background color */
    width: 100%; /* Make dropdown full width */
  }

  nav .dropdown-content a {
    color: #fff; /* Set text color */
    padding: 12px 16px; /* Adjust padding */
    display: block;
    text-decoration: none;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
